node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# editor / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*

# vitest / coverage
coverage

# typescript build info
*.tsbuildinfo
